# Archivos generados por Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# Archivos compilados
*.class

# Archivos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db